<%@ Control Language="C#" AutoEventWireup="false" Explicit="True" Inherits="DotNetNuke.UI.Skins.Skin" %>

<div id="main">
    <div id="contentPane" runat="server" class="contentPane">
    </div>
</div>


