<div class="authorList_item">
 <a href="[urls:module|true]author=[author:userid]">[author:displayname]</a>
 <span class="authorList_stat"><span class="blogicon-eye-open"></span>[author:nrviews]</span>
 <span class="authorList_stat"><span class="blogicon-book"></span>[author:nrposts]</span>
</div>