﻿<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="CodingStaffMenuBox.ascx.cs" Inherits="CodingStaff.Modules.MenuBox.CodingStaffMenuBox" %>
<asp:PlaceHolder runat="server" ID="menu"></asp:PlaceHolder>
<asp:Label ID="ErrorMessage" CssClass="cs-error" runat="server" Visible="false"></asp:Label>