<%@ Control Language="C#" AutoEventWireup="True" CodeBehind="ManageMenuThemes.ascx.cs" Inherits="CodingStaff.Modules.MenuBox.ManageMenuThemes" %>
<%@ Register Assembly="System.Web.Extensions" Namespace="System.Web.UI" TagPrefix="asp" %>
<%@ Register TagPrefix="cs" TagName="SkinList" Src="SkinList.ascx" %>
<cs:SkinList ID="SkinList" runat="server" ></cs:SkinList>
