﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MenuBoxSkinObject.ascx.cs" Inherits="CodingStaff.Modules.MenuBox.MenuBoxSkinObject" %>
<asp:PlaceHolder runat="server" ID="MainArea">
</asp:PlaceHolder>
<asp:Label ID="ErrorMessage" CssClass="cs-error" runat="server" Visible="false" ></asp:Label>