<div class="blogCalList_item">
 <a href="[urls:module|true]end=[calendar:firstdaynextmonth|yyyy-MM-dd]">[calendar:firstday|yyyy] [calendar:firstday|MMM]</a>
 <span class="blogCalList_stat"><span class="blogicon-eye-open"></span>[calendar:viewcount]</span>
 <span class="blogCalList_stat"><span class="blogicon-book"></span>[calendar:postcount]</span>
</div>