<div id="blog_tagCloud[module:moduleid]" style="height:350px;"></div>
<script type="text/javascript">
var blog_tags = [
 [subtemplate|Tag.html|tags]
 {}
];
$(function () {
 $("#blog_tagCloud[module:moduleid]").width($("#blog_tagCloud[module:moduleid]").parent().width());
 $("#blog_tagCloud[module:moduleid]").jQCloud(blog_tags);
});
</script>
