<div class="blogList_image">
 <a href="[urls:module|true]blog=[blog:blogid]" title="[blog:localizedtitle]">
  <img src="[settings:imagehandlerpath]?TabId=[module:tabid]&ModuleId=[module:moduleid]&Blog=[blog:blogid]&w=100&h=100&c=1&key=[Blog:image]"
   width="50" height="50" alt="[blog:localizedtitle]" />
  </a>
</div>