<div class="blogList_blog">
[subtemplate|BlogImage.html|Blog:hasimage]
<a href="[urls:module|true]blog=[blog:blogid]" title="[blog:localizeddescription]">[blog:localizedtitle]</a>
 <div class="blogList_details">
  <span class="blogicon-user"></span><span>[blog:displayname]</span><br />
  <span class="blogicon-book"></span><span>[blog:nrposts]</span>
  <span class="blogicon-eye-open"></span><span>[blog:nrviews]</span>
  <span class="blogicon-calendar"></span><span>[blog:lastpublishdate|d]</span>
 </div>
</div>