/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:50px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:0;
	bottom:-42px;
}

.theme-default .nivo-controlNav a{
    margin-right:4px;
    margin-bottom:4px;
    float: left; 
    text-indent: -1000px; 
}

.theme-default .nivo-controlNav {
	position:absolute;
	bottom:-70px; /* Put the nav below the slider */
}

.theme-default .nivo-controlNav img {
	display:block; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
}

.theme-default .nivo-controlNav a.active img{
	-webkit-box-shadow: 0px 1px 5px 0px #4A4A4A;
	-moz-box-shadow: 0px 1px 5px 0px #4A4A4A;
	box-shadow: 0px 1px 5px 0px #4A4A4A;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}