<div class="blog_comments">
<div class="blog_commenttotals">[resx:Total]: [post:nrcomments] [resx:Comments]</div>
[subtemplate|Comment.html|Comments|]
</div>
[if|1][security:canaddcomment][=]True[/if]
<div style="padding-top:20px;">
 <a href="#" class="dnnPrimaryAction" id="cmdComment">[resx:Comment]</a>
</div>
[endif|1]