<div class="blog_comment" id="commentDiv[comment:CommentID]">
 [comment:comment]
 <div class="blog_commentdetails">
  <div class="blog_commentwhen"><abbr title="[comment:CreatedOnDateUTC|u]" class="blog_commenttimeago"></abbr></div>
  <div class="blog_commentwho">[resx:By] [comment:displayname]</div>
  [subtemplate|CommentApproveBar.html|security:canapprovecomment|True]
  [subtemplate|CommentKarmaBar.html|security:loggedin|True]
  [subtemplate|CommentReplyBar.html|security:canaddcomment|True]
 </div>
 [subtemplate|Comment.html|Comments|]
</div>