 <div class="blog_commentbuttons">
  <a href="#" class="blogicon-comments-alt" onclick="commentParentId=[comment:commentId];$dialogComment.dialog('open');return false;" title="[resx:Reply]"></a>
 </div>
