[subtemplate|blogbanner.html|query:blogselected]
[subtemplate|termbanner.html|query:termselected]
[subtemplate|authorbanner.html|query:authorselected]
[subtemplate|searchbanner.html|query:issearch]
<div class="blog-main-content">
[subtemplate|Post.html|Posts|pagesize=5]
<div class="pager">
[subtemplate|Page.html|PostsPager|pagesize=5,pagertype=somepages]
</div>
</div>