<article class="is-post is-post-excerpt">
 <header>
  <h2 style=" background: url(/DesktopModules/Blog/Templates/_default/images/strip.png) repeat-x scroll left bottom transparent; margin-bottom: 15px; padding-bottom: 15px;"><a href="[Post:link]">[Post:localizedtitle]</a></h2>
  <span class="byline">[blog:localizedtitle] - [post:displayname]</span>
 </header>

[subtemplate|Postbanner.html|Post:hasimage]
 <div class="summary">
[Post:localizedsummary]
 </div>
</article>

