<div class="selectbanner">
 <span class="removeselection"><a href="[urls:module|false]" class="blogicon-remove-sign icon16" title="[resx:Allposts]"></a></span>
 [resx:Search]: [query:searchstring]<br />
 [resx:In]:
 [if|1][query:t][=]1[/if]<span>[resx:Title]</span>[endif|1]
 [if|2][query:c][=]1[/if]<span>[resx:Contents]</span>[endif|2]
</div>
