/*
* @package mj_simple
*@copyright (C) 2012 by Dasinfomedia - All rights reserved!
*/


/* CSS For IE-7 and lower version */

*+html .mj-grid32 {
	width: 30%;
}

*+html .mj-grid16 {
    width: 13.666%;
}

*+html .mj-grid72 {
    width: 70%;
}

*+html .mj-grid24 {
    width: 22%;
}

*+html .nspCol3 {
    width: 32.3%;
}

