.pages {
    width: 100%;
    margin-top: 30px;
}


    .pages .item img {
        border-bottom: 5px solid #A4A4A4;
        float: left;
    }

    .pages .item .textcont {
        text-align: center;
        font-size: 14px;
        background-color: #FFFFFF;
        margin-bottom: 0px;
        width: 100%;
        padding-top: 10px;
        float: left;
    }

    .pages .item .sub {
        font-size: 13px;
        border-bottom: 1px solid #A4A4A4;
        padding-bottom: 10px;
    }

    .pages .item:hover img, .pages .item:hover .sub {
        border-color: #4B5668;
    }
