﻿table.DNNInfo_ImageGallery_DITTblGallery td
{
	vertical-align:top;
}

table.DNNInfo_ImageGallery_DITTblGallery td.DNNInfo_ImageGallery_tdDITLeftPane{
	vertical-align:middle;
	background-color:#e1eef5;
}

.DNNInfo_ImageGallery_DITLeftPane
{
	padding:5px 0px;
	text-align:center;
}

.DNNInfo_ImageGallery_DITRightPane
{
}

.DNNInfo_ImageGallery_DITLeftPane
{
	position:relative;
}

.DNNInfo_ImageGallery_DITRightPane
{
}

.DNNInfo_ImageGallery_DITAlbumList{
	margin-top:7px;
}

ul.DNNInfo_ImageGallery_DITULAlbums, ul.DNNInfo_ImageGallery_DITULAlbums li
{
	margin:0;
	padding:0;
	list-style:none;
}

ul.DNNInfo_ImageGallery_DITULAlbums li{
    float:left;
    margin:0px 8px 5px 0px;
	cursor:pointer;
}


.DNNInfo_ImageGallery_DITAlbumThumb{
    margin:0 5px 5px 0;
    width:100px;
    cursor:pointer;
    height:100px;
    display:inline-block;
	vertical-align: middle;
	text-align:center;
}


.DNNInfo_ImageGallery_DITImageThumb{
    margin:0 5px 5px 0;
    text-align:center;
    float:left;
    width:100px;
    min-height:100px;
    height:auto !important;
    height:100px;
    cursor:pointer;
    display:inline-block;
}


.DNNInfo_ImageGallery_DITImageLoaderInfo{
	background:url(images/infobg.png) repeat;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
}


.DNNInfo_ImageGallery_DITImageInfo{
	text-align:left;
}

.DNNInfo_ImageGallery_DITImageInfoTitle 
{
    padding:5px 10px;
    font-weight:bold;
    font-size:13px;
    text-decoration:underline;
    color:#ffffff;
}

.DNNInfo_ImageGallery_DITImageInfoDesc
{
    padding:5px 10px;
    color:#ffffff;
    font-size:11px;
    margin-top:5px;
}

/******************************** MISC *******************************/
.DNNInfo_ImageGallery_DITAlbumGalleryPaging, .DNNInfo_ImageGallery_DITAlbumGalleryPaging,
.DNNInfo_ImageGallery_DITImageGalleryPaging, .DNNInfo_ImageGallery_DITImageGalleryPaging
{
	line-height:25px;
    height:25px;
    padding:0px 10px;
	background-color:#ededed;
	margin-bottom:5px;
}

.DNNInfo_ImageGallery_DITAlbumGalleryPaging a.linkSelected, .DNNInfo_ImageGallery_DITAlbumGalleryPaging a.linkSelected,
.DNNInfo_ImageGallery_DITImageGalleryPaging a.linkSelected, .DNNInfo_ImageGallery_DITImageGalleryPaging a.linkSelected{
    font-weight:bold;
    text-decoration:underline;
    color:#4646dd;
}

.DNNInfo_ImageGallery_DITAlbumGalleryPaging
{
	margin-top:10px;
}

.DNNInfo_ImageGallery_DITAlbumMouseOver{
    background-color:#8facdf;
}

.DNNInfo_ImageGallery_DITImageMouseOver{
    background-color:#8facdf;
}

/******************************** END MISC *******************************/
