﻿<%@ Control Language="VB" Inherits="DNNInfo.Modules.ImageGallery.UC_ControlPanel" %>
<%@ Register TagPrefix="DNNInfo" TagName="Menu" Src="~/DesktopModules/DNNInfo_ImageGallery/UC_Menu.ascx" %>
<DNNInfo:Menu ID="Menu1" runat="server" />
<asp:PlaceHolder ID="phControl" runat="server" />
