﻿<%@ Control Language="VB" Inherits="DNNInfo.Modules.ImageGallery.UC_ImageGalleryPanel" %>
<div class="DNNINfo_ImageGallery_Container">
    <asp:Panel ID="pnlImageControl" runat="server" />

</div>


