﻿<%@ Control Language="VB" Inherits="DNNInfo.Modules.ImageGallery.UC_Menu" %>
<div class="DNNInfo_ImageGallery_Menu"><asp:Literal ID="litMenu" runat="server"/></div>
<div class="DNNInfo_ClearBoth"></div>